h1{
    font-style: bold;
    color: black;
    text-align: center;
}
.body{
    font-family:'Gill Sans', sans-serif;
    color: greenyellow;
    text-align: center;
 }
.body{
 background-color: darkslateblue;
 }
